@use "global" as *;

// sp四角青に白字
.c-btn {
    width: 100%;
    max-width: rem(476);
    padding: rem(15) rem(20);
    display: inline-flex;
    align-items: center;
    font-size: rem(20);
    font-weight: $bold;
    line-height: calc(20/20);
    color: $white;
    background-color: $color2;
}

.c-btn span {
    position: relative;
    padding-right: rem(30);
}

.c-btn span::after {
    background-color: $white;
    content: "";
    display: inline-block;
    mask-image: url(../images/common/btn-icon.svg);
    mask-repeat: no-repeat;
    mask-size: cover;
    position: absolute;
    width: rem(12);
    height: rem(12);
    top: 50%;
    right: 0;
}

// // sp四角赤に白
// .c-btn--sq-orange {
//     background-color: $accent-color1;
// }

// // sp.pc

// .c-btn--lg-blue {
//     padding: rem(20) rem(74);
//     letter-spacing: 0.08em;
//     border-radius: 50px;
//     margin: 0 rem(4) rem(4) 0;
//     background-color: $white;
//     color: $color2;
//     box-shadow: rem(0) rem(4) rem(4) rem(0) #0033bc;
// }
// .c-btn--lg-orange {
//     padding: rem(20) rem(74);
//     border-radius: 50px;
//     margin: 0 rem(4) rem(4) 0;
//     background-color: $accent-color1;
//     box-shadow: rem(0) rem(4) rem(4) rem(0) #B13906;
// }

// // pc
// .c-btn--sm-blue {
//     padding: rem(13) rem(30);
//     max-width: rem(200);
//     background-color: $color2;
//     color: $white;
//     box-shadow: none;
//     margin: 0;
//     border-radius: 20px;
//     font-size: rem(13);
//     letter-spacing: 0.06em;
//     line-height: calc(20/20);
//     text-align: center;
// }

// .c-btn--sm-orange {
//     padding: rem(13) rem(30);
//     max-width: rem(200);
//     margin: 0;
//     font-size: rem(13);
//     letter-spacing: 0.06em;
//     line-height: calc(20/20);
//     text-align: center;
//     background-color: $accent-color1;
//     color: $white;
//     box-shadow: none;
//     border-radius: 20px;
// }
