@use "global" as *;

.p-buttonArea {
    background-color: #164E9D;
    @include mq(md) {
        background-color: $color2;
    }
}

.p-buttonArea__inner {

}

.p-buttonArea__items {
    padding-top: rem(30);
    padding-bottom: rem(30);
    display: flex;
    flex-direction: column;
    gap: rem(22);
    align-items: center;
    @include mq(md) {
        width: fit-content;
        padding-top: rem(20);
        padding-bottom: rem(16);
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        margin-inline: auto;
        gap: rem(70);
    }
}

.p-buttonArea__item {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    @include mq(md) {
        width: rem(350);
        justify-content: center;
    }
}

.p-buttonArea__c-btn {
    width: 100%;
}

.p-buttonArea__text {
    padding-bottom: rem(10);
    font-weight: $bold;
    font-size: rem(15);
    letter-spacing: 0.06em;
    line-height: calc(20/15);
    color: $white;
    text-align: center;
}