@use 'global' as *;

.p-contact {

}

.p-contact__inner {

}

.p-contact__title {

}

.p-contact__body {
    position: relative;
    z-index: 1;
    margin-top: rem(50);

    @include mq(md) {
        max-width: rem(750);
        margin-inline: auto;
        margin-top: rem(70);
    }
}

.p-contact__lead {
    margin-top: rem(20);
    font-size: rem(14);
    line-height: 1.5;

    @include mq(md) {
        font-size: rem(20);
        text-align: center;
        margin-top: rem(45);
    }
}