@use "global" as *;

.p-cta {
    position: relative;
}

.p-cta::before {
    content: "";
    position: absolute;
    display: inline-block;
    background: url('../images/common/cta_bg-sp.jpg') center center / cover no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    @include mq(md) {
        background-image: url('../images/common/cta_bg.jpg');
    }
}

.p-cta__inner {
    padding-top: rem(30);
    padding-bottom: rem(28);
    @include mq(md) {
        padding-top: rem(66);
        padding-bottom: rem(36);
    }
}

.p-cta__wrap {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    align-items: center;
    @include mq(md) {
        flex-direction: row;
        align-items: end;
        justify-content: center;
    }
}

.p-cta__left {
    @include mq(md) {
        width: 50%;
    }
    @include mq(lg) {
        width: 53%;
    }
}

.p-cta__right {
    @include mq(md) {
        width: 50%;
        position: relative;
    }
    @include mq(lg) {
        width: 47%;
    }
}

.p-cta__right::before {
    @include mq(md) {
        content: "";
        position: absolute;
        background: url(../images/common/cta_illust.png) center center / contain no-repeat;
        width: rem(434);
        height: rem(351);
        bottom: calc(50% - max(0.1vw, 0.175rem));
        left: 50%;
        transform: translateX(-50%);
    }
}

.p-cta__logo {
    display: inline-block;
    border-bottom: 3px dotted $white;
    padding-bottom: rem(20);
    @include mq(md) {
        padding-bottom: rem(18);
    }
}

.p-cta__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-cta__logoText,
.p-cta__btnText {
    text-align: center;
    font-weight: $bold;
    color: $white;
}

.p-cta__logoText {
    margin-top: rem(20);
    font-size: rem(18);
    letter-spacing: 0.08em;
    line-height: 1;
    @include mq(md) {
        font-size: rem(20);
    }
    @include mq(lg) {
        margin-top: rem(18);
        font-size: rem(22);
    }
}

.p-cta__btnText {
    margin-top: rem(30);
    font-size: rem(16);
    letter-spacing: 0.06em;
    line-height: calc(20/16);
    @include mq(md) {
        font-size: rem(18);
    }
    @include mq(lg) {
        margin-top: rem(53);
        text-align: right;
        font-size: rem(22);
        letter-spacing: 0.02em;
    }
    @include mq(xl) {
        text-align: center;
        letter-spacing: 0.06em;
    }
}

.p-cta__btnText span {
    color: $accent-color2;
}

.p-cta__c-btn {
    margin-top: rem(15);
    text-align: center;
}