@use "global" as *;

.p-fv {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    background: url(../images/common/fv.jpg) center right / cover no-repeat;
    padding-bottom: rem(32);

    @include mq(md) {
        height: auto;
        background: url(../images/common/fv.jpg) center center / cover no-repeat;
        padding-bottom: rem(50);
    }
}

.p-fv__inner {
    height: inherit;
    padding-top: rem(92);
    display: flex;
    flex-direction: column;
    max-width: rem(366);
    padding: 0;

    @include mq(md) {
        padding-top: rem(134);
        flex-direction: row;
        align-items: center;
    }
}

.p-fv__texts {
    @include mq(md) {
        width: 43%;
    }
}

.p-fv__image {
    @include mq(md) {
        width: 53%;
    }
}

// ========================================
// バナー
// ========================================
.p-fv__priceBanner {
    margin-top: rem(17);
    margin-left: calc(50% - 50vw);
    background-color: $accent-color1;
    clip-path: polygon(0 0, calc(100% - 52px) 0, 100% 100%, 0% 100%);
    @include mq(md) {
        margin-top: rem(20);
        clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 100%, 0% 100%);
    }
}

.p-fv__price {
    display: flex;
    justify-content: flex-end;
    padding-right: rem(52);
    font-weight: $bold;
    color: $white;
    padding-block: rem(13);
    @include mq(md) {
        padding-right: rem(70);
        padding-block: rem(12);
    }
}

.p-fv__price span {
    display: inline-flex;
    flex-direction: column-reverse;
}

.p-fv__price small {
    font-size: rem(14);
    @include mq(md) {
        font-size: rem(18);
    }
}

.p-fv__price span {
    font-size: rem(25);
    display: flex;
    line-height: 1.25;
    align-items: center;
    @include mq(md) {
        font-size: rem(29);
        display: flex;
        align-items: center;
    }
}

.p-fv__price strong {
    font-size: rem(51);
    // line-height: calc(83/51);
    line-height: 1;
    @include mq(md) {
        line-height: calc(85/68);
        font-size: rem(64);
        line-height: 1;
    }
}

.p-fv__comment {
    margin-top: rem(11);
    font-size: rem(12);
    text-align: right;
    @include mq(md) {
        margin-top: rem(13);
        font-size: rem(14);
    }
}

// ========================================
// ボタン
// ========================================

.p-fv__btn {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    display: flex;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

@media screen and (max-height:790px) and (max-width:899px) {
    .p-fv__texts,
    .p-fv__image {
        width:  calc(min((363 / 390) * 100vw, (363 / 790) * 100vh)) !important;
        margin: 0 auto;
    }
    .p-fv__price {
        padding-right: calc(min((52 / 390) * 100vw, (52 / 790) * 100vh)) !important;
    }
    .p-fv__price span {
        font-size: calc(min((25 / 390) * 100vw, (25 / 790) * 100vh)) !important;
    }
    .p-fv__price strong {
        font-size: calc(min((51 / 390) * 100vw, (51 / 790) * 100vh)) !important;
    }
    .p-fv__price small {
        font-size: calc(min((14 / 390) * 100vw, (14 / 790) * 100vh)) !important;
    }
    .p-fv__inner {
        max-width: calc(min((366 / 390) * 100vw, (366 / 790) * 100vh)) !important;
        padding-top: calc(min((92 / 390) * 100vw, (92 / 790) * 100vh)) !important;
    }
    .p-fv__comment {
        font-size: calc(min((10 / 390) * 100vw, (10 / 790) * 100vh)) !important;
        margin-top: calc(min((10 / 390) * 100vw, (10 / 790) * 100vh)) !important;
    }
    .p-fv__priceBanner {
        clip-path: polygon(0 0, calc(100% - (min((52 / 390) * 100vw, (52 / 790) * 100vh))) 0, 100% 100%, 0% 100%);
    }
}