@use "global" as *;

.p-fv {
    width: 100%;
    height: 100vh;
    background: url(../images/common/fv.jpg) center right / cover no-repeat;
    padding-bottom: rem(32);

    @include mq(md) {
        height: auto;
        background: url(../images/common/fv.jpg) center center / cover no-repeat;
        padding-bottom: rem(50);
    }
}

.p-fv__inner {
    height: inherit;
    padding-top: rem(92);
    display: flex;
    flex-direction: column;
    max-width: rem(366);

    @include mq(md) {
        padding-top: rem(134);
        flex-direction: row;
        align-items: center;
    }
}

.p-fv__texts {
    @include mq(md) {
        width: 43%;
    }
}

.p-fv__image {
    @include mq(md) {
        width: 53%;
    }
}

// ========================================
// バナー
// ========================================
.p-fv__priceBanner {
    margin-top: rem(17);
    margin-left: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    background-color: $accent-color1;
    clip-path: polygon(0 0, calc(100% - 52px) 0, 100% 100%, 0% 100%);
    @include mq(md) {
        margin-top: rem(20);
        clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 100%, 0% 100%);
    }
}

.p-fv__price {
    display: flex;
    justify-content: flex-end;
    padding-right: rem(28);
    font-weight: $bold;
    color: $white;
    @include mq(md) {
        padding-right: rem(70);
        padding-block: rem(12);
    }
}

.p-fv__price span {
    display: inline-flex;
    flex-direction: column-reverse;
}

.p-fv__price small {
    font-size: rem(14);
    @include mq(md) {
        font-size: rem(18);
    }
}

.p-fv__price span {
    font-size: rem(25);
    display: flex;
    align-items: center;
    @include mq(md) {
        font-size: rem(29);
        display: flex;
        align-items: center;
    }
}

.p-fv__price strong {
    font-size: rem(51);
    line-height: calc(83/51);
    @include mq(md) {
        line-height: calc(85/68);
        font-size: rem(64);
        line-height: 1;
    }
}

.p-fv__comment {
    margin-top: rem(11);
    font-size: rem(12);
    text-align: right;
    @include mq(md) {
        margin-top: rem(13);
        font-size: rem(14);
    }
}

// ========================================
// ボタン
// ========================================

.p-fv__btn {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    display: flex;
    margin-top: auto;
}