@use "global" as *;

.p-globalNav {
    height: inherit;
}

.p-globalNav__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(5);
    margin: 0 auto;
    @include mq(md) {
        display: flex;
        gap: 0;
        height: inherit;
    }
    @include mq(xl) {
        gap: rem(40);
    }
}

.p-globalNav__links--flex {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: rem(30);
}

.p-globalNav__link {
    flex-shrink: 1;
    font-size: rem(13);
    line-height: calc(13/13);
    height: inherit;
    @include mq(md) {
        white-space: nowrap;
    }
}

.p-globalNav__link a {
    display: inline-flex;
    align-items: center;
    height: inherit;
    padding: rem(5);
}

.p-globalNav__link--footer {
    @include mq(md) {
        font-size: rem(16);
    }
}

.p-globalNav__link--footer:nth-of-type(1) {
    order: 1;
    @include mq(md) {
        order: unset;
    }
}

.p-globalNav__link--footer:nth-of-type(2) {
    order: 3;
    @include mq(md) {
        order: unset;
    }
}

.p-globalNav__link--footer:nth-of-type(3) {
    order: 5;
    @include mq(md) {
        order: unset;
    }
}

.p-globalNav__link--footer:nth-of-type(4) {
    order: 2;
    @include mq(md) {
        order: unset;
    }
}

.p-globalNav__link--footer:nth-of-type(5) {
    order: 4;
    @include mq(md) {
        order: unset;
    }
}