@use 'global' as *;

.p-header {
    position: fixed;
    width: 100%;
    height: rem(52);
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 3000;

    @include mq(md) {
        height: rem(60);
    }
}

.p-header__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $padding-sp;
    @include mq(md) {
        padding-right: $padding-sp;
    }
}

.p-header__logo {
    width: 100%;
    max-width: rem(206);
    margin-top: auto;
    margin-right: auto;
    z-index: 1;
    @include mq(md) {
        margin-right: 0;
    }
}

.p-header__logo a {
    display: block;
}

.p-header__hamburger {
    width: rem(54);
    height: rem(50);
    margin-bottom: auto;
    margin-left: auto;
    z-index: 1;
    @include mq(md) {
        display: none;
    }

}

.p-header__globalNav {
    display: none;

    @include mq(md) {
        display: block;
        height: inherit;
    }
}

.p-header__btn {
    display: flex;
    gap: 3%;
}