@use "global" as *;

.p-introduction {
    background-color: #EBEBEB;
    padding-top: rem(32);
    @include mq(md) {
        padding-top: rem(80);
        position: relative;
        overflow: hidden;
    }
}

.p-introduction::before {
    @include mq(md) {
        background-color: $white;
        content: "";
        display: inline-block;
        mask: url(../images/common/introduction_icon.svg) center center / contain no-repeat;
        position: absolute;
        width: rem(213);
        height: rem(212);
        top: 0;
        right: calc(50% - max(20.4vw, 32.875rem));
        // transform: translateY(-50%);
    }
}


.p-introduction__inner.l-inner {
    @include mq(md) {
        // width: 100%;
        // max-width: 0;
        // padding-left: 0;
        // padding-right: 0;
        // margin-right: 0;
        // margin-left: 0;
    }
}

.p-introduction__title {

}

.p-introduction__cards {
    margin-top: rem(30);
    position: relative;
    padding-bottom: rem(110);
    @include mq(md) {
        margin-top: rem(60);
        padding-bottom: rem(125);
    }
}


.p-introduction__card {
    background-color: $white;
    border-radius: 20px;
    @include mq(md) {
        margin-inline: rem(10);
    }
}

.p-introduction__cardInner {
    padding: rem(20) rem(17);
    @include mq(md) {
        padding-inline: rem(25);
    }
}

.p-introduction__cardImage {
    aspect-ratio: 355 / 220;
    border-radius: 20px 20px 0 0;
    @include mq(md) {
        aspect-ratio: 417 / 220;
    }
}

.p-introduction__cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.p-introduction__cardHead {
}

.p-introduction__cardHead h3 {
    font-weight: $bold;
    font-size: rem(22);
    letter-spacing: 0.06em;
    line-height: 1;
    text-align: center;
    color: $color3;
}

.p-introduction__cardHead p {
    font-weight: $regular;
    font-size: rem(15);
    letter-spacing: 0.06em;
    line-height: 1;
    text-align: center;
}

.p-introduction__cardContent {
    margin-top: rem(17);
    display: flex;
    flex-direction: column;
    gap: rem(20);
}

.p-introduction__cardProblems,
.p-introduction__cardSolutions {
    display: flex;
    flex-direction: column;
    gap: rem(10);

}

.p-introduction__cardProblems p,
.p-introduction__cardSolutions p {
    width: rem(70);
    padding: rem(5) rem(11);
    border-radius: 12px;
    font-weight: $bold;
    font-size: rem(15);
    letter-spacing: 0.06em;
    line-height: 1;
    text-align: center;
    color: $white;
}

.p-introduction__cardProblems p {
    background-color: $color3;
}

.p-introduction__cardSolutions p {
    background-color: $accent-color1;
}

.p-introduction__cardProblems ul,
.p-introduction__cardSolutions ul {

}

.p-introduction__cardProblems li,
.p-introduction__cardSolutions li {
    font-weight: $regular;
    font-size: rem(16);
    line-height: 1;
    text-align: left;
}

.slick-list {
    @include mq(md) {
        overflow: visible !important;
    }
}

.slide-arrow {
    position: absolute;
    width: rem(40);
    height: rem(40);
    transform: translateY(-50%);
    background:url('../images/common/arrow4.png') center center / contain no-repeat;
    z-index: 1;
}

.prev-arrow {
    bottom: rem(15);
    left: calc(50% - 65px);
}

.next-arrow {
    bottom: rem(32);
    right: calc(50% - 65px);
    transform: rotate(180deg);
}

.slide-arrow:hover {
    cursor: pointer;
    transition: opacity 0.3s;
    @include mq(md) {
        opacity: 0.8;
    }
}

// .p-introduction__card.slick-slide.slick-current.slick-active {
//     @include mq(md) {
//         width: unset !important;
//     }
// }