@use "global" as *;

.p-price {
    position: relative;
    padding-top: rem(40);
    @include mq(md) {
        padding-top: rem(95);
    }
}

.p-price::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url('../images/common/bgLeft-sp.png'), url('../images/common/bgRight-sp.png');
    background-size: 100% 100%;
    background-position: center center, center center;
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
    max-height: rem(300);
    top: 0;
    left: 0;
    z-index: -1;
    @include mq(md) {
        background-image: url('../images/common/bgLeft.png'), url('../images/common/bgRight.png');
    }
}

.p-price__inner {

}

.p-price__text {
    margin-top: rem(34);
    font-weight: $bold;
    font-size: rem(14);
    letter-spacing: 0.06em;
    line-height: 1;
    text-align: center;
    color: $color4;
    @include mq(md) {
        margin-top: rem(33);
        font-size: rem(24);
    }

}

// ========================================
// テーブルの指定
// ========================================

// テーブル全体、共通
.p-price__table {
    margin-top: rem(34);
    // max-width: rem(1200);
    @include mq(md) {
        margin-top: rem(49);
    }
}

table {
    @include mq(md) {
        border-collapse: collapse;
    }
}

thead,
tbody {
    text-align: center;
}

// thead
thead th {
    width: 100%;
    height: rem(70);
    display: block;
    @include mq(md) {
        width: 26%;
        padding: rem(6);
        height: rem(72);
        display: table-cell;
    }
}

table tbody td:nth-of-type(3) {
    
}

table thead:nth-of-type(2) th,
table thead:nth-of-type(3) th {
    margin-top: rem(20);
}


thead th span {
    width: 100%;
    // height: rem(60);
    font-size: rem(20);
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: $bold;
    letter-spacing: 0.06em;
    line-height: 1;
    @include mq(md) {
        width: 100%;
        height: 100%;
        padding-block: rem(27);
        text-align: center;
        font-size: rem(24);
    }
}

table:nth-child(1) thead th span {
    background-color: #C5E7F6;
    color: $color4;
}

table:nth-child(2) thead th span {
    background-color: #5D89FF;
    color: $white;
}

table:nth-child(3) thead th span {
    background-color: #2355FF;
    color: $white;
}

@include mq(md) {
    table thead:nth-of-type(1) th span {
        background-color: #C5E7F6;
        color: $color4;
    }
    
    table thead:nth-of-type(2) th span {
        background-color: #5D89FF;
        color: $white;
    }
    
    table thead:nth-of-type(3) th span {
        background-color: #2355FF;
        color: $white;
    }
}


thead th:nth-child(2) span {
    @include mq(md) {
        background-color: #C5E7F6 !important;
        color: $color4 !important;
    }
}


thead th:nth-child(3) span {
    @include mq(md) {
        background-color: #5D89FF !important;
        color: $white !important;
    }
}

thead th:nth-child(4) span {
    @include mq(md) {
        background-color: #2355FF !important;
        color: $white !important;
    }
}

// tbody
tbody th {
    width: 100%;
    margin: 0 auto;
    height: rem(40);
    display: block;
    font-weight: $regular;
    font-size: rem(15);
    letter-spacing: 0.06em;
    line-height: 1;
    padding-inline: rem(10);

    @include mq(md) {
        padding: rem(6);
        width: 19.25%;
        height: auto;
        font-size: rem(18);
        font-weight: 600;
        display: table-cell;
    }
}

tbody th span {
    width: 100%;
    height: 100%;
    font-weight: $regular;
    font-size: rem(14);
    letter-spacing: 0.06em;
    line-height: 1;
    color: $color4;
    background-color: $lightGray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include mq(md) {
        height: inherit;
        padding-block: rem(27);
        font-size: rem(24);
        font-weight: $bold;
    }
}

tbody td {
    width: 100%;
    width: calc(100% - rem(20));
    margin: 0 auto;
    display: block;
    font-size: rem(24);
    font-weight: $bold;
    line-height: 1;
    letter-spacing: 0.06em;
    color: $color4;
    background-color: $white;
    padding-block: rem(10);
    padding-inline: rem(50);
    @include mq(md) {
        width: unset;
        display: table-cell;
        padding-top: rem(24);
        padding-bottom: rem(28);
        font-size: rem(28);
        padding-inline: 0;
    }
}

tbody td:nth-of-type(1) {
    padding-block: rem(20);
    @include mq(md) {
        padding-block: 0;
    }
}

tbody td:nth-of-type(3) {
    padding-block: rem(17) rem(9);
    @include mq(md) {
        padding-block: 0;
    }
}

tbody td:nth-child(3) {
    color: $color3;
}

tbody td:nth-child(4) {
    color: $color2;
}

tbody td span {
    font-size: rem(18);
    font-weight: $regular;
    @include mq(md) {
        font-size: rem(21);
    }
}


tbody p {
    width: rem(110);
    height: rem(25.57);
    font-size: rem(13);
    font-weight: $regular;
    line-height: 1;
    letter-spacing: 0.06em;
    color: $black;
    background-color: #C5E7F6;
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: rem(9.5) rem(20);
    @include mq(sm) {
        
    }
    @include mq(md) {
        width: rem(132);
        height: rem(30.68);
        font-size: rem(15);
        font-weight: 600;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: rem(12) rem(24);
    }
}

tbody p:nth-child(5),
tbody p:nth-child(6) {
    background-color: #CBD9FC;
}

tbody small {
    font-size: rem(13);
    @include mq(md) {
        font-size: rem(15);
    }
}



// ========================================
// ボーダーの指定
// ========================================
td {
    @include mq(md) {
        border-left: 3px solid $lightGray;
        border-top: 3px solid $lightGray;
        border-collapse: collapse;
    }
}

tbody tr:first-child td {
    @include mq(md) {
        border-top: none;
    }
}

tbody tr td:nth-child(2) {
    @include mq(md) {
        border-left: none;
    }
}

thead td:first-child {
    border-top: none;
    border-left:none;
}

tbody td:first-child {
    border-top: none;
    border-left:none;
}
// ========================================
// テーブル下のテキスト
// ========================================
.p-price__tableText {
    margin-top: rem(20);
    @include mq(md) {
        margin-top: rem(23);
        margin-left: auto;
        display: table;
    }
}

.p-price__tableText p {
    font-weight: $regular;
    font-size: rem(13);
    // line-height: 1;
    text-align: left;
    @include mq(md) {
        font-size: rem(15);
        line-height: calc(23/15);
    }
}

@media screen and (max-width:899px) {
    table {
        border-collapse: collapse;
        box-shadow: 0 rem(5) rem(5) rgba($color: #000000, $alpha: 0.16);
    }

    table:first-child {
        background-color: #C5E7F6;
    }

    table:nth-child(2) {
        background-color: #5D89FF;
    }

    table:nth-child(3) {
        background-color: #2355FF;
    }

    tbody td:last-child{
        margin-bottom: rem(10);
    }

    table + table {
        margin-top: rem(24);
    }
}