@use 'global' as *;

.p-subMv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171C61;
    height: rem(150);

    @include mq(md) {
        height: rem(116);
    }
}

.p-subMv__inner {

}

.p-subMv__title {
    position: relative;
    color: $white;
    font-size: rem(24);
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: left;
    padding-left: rem(30);

    @include mq(md) {
        padding-left: rem(50);
    }
}

.p-subMv__title::before {
    position: absolute;
    content: "";
    width: 2px;
    height: rem(30);
    top: 50%;
    transform: translateY(-50%);
    left: rem(0);
    background-color: $white;

    @include mq(md) {
        width: 3px;
        height: rem(60);
    }
}

.p-subMv__breadbrmb {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: rem(500);
    width: 100%;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    bottom: rem(5);
    display: none;

    @include mq(md) {
        max-width: rem(1200);
        bottom: rem(10);
    }
}
