@use "global" as *;

.p-whatWeDo {
    padding-top: rem(40);
    position: relative;
@include mq(md) {
    padding-top: rem(57);
}
}

.p-whatWeDo::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url('../images/common/bgLeft-sp.png'), url('../images/common/bgRight-sp.png');
    background-size: 100% 100%;
    background-position: center center, center center;
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
    max-height: rem(300);
    top: 0;
    left: 0;
    z-index: -1;
    @include mq(md) {
        background-image: url('../images/common/bgLeft.png'), url('../images/common/bgRight.png');
    }
}

.p-whatWeDo__inner {

}

.p-whatWeDo__items {
    margin-top: rem(30);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(23);
    @include mq(md) {
        margin-top: rem(56);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(30);
    }
}

.p-whatWeDo__item {
    padding: rem(20) rem(20);
    border-radius: 20px;
    @include mq(md) {
        padding: rem(30) rem(25) rem(20);
  }
}

.p-whatWeDo__item--1 {
    background-color: #6A93FF;
}

.p-whatWeDo__item--2 {
    background-color: #2355FF;
}

.p-whatWeDo__item--3 {
    background-color: #1A45CB;
}

.p-whatWeDo__item--4 {
    background-color: $color4;
}

.p-whatWeDo__itemTitle {
    font-weight: $bold;
    font-size: 1.4rem;
    letter-spacing: 0.06em;
    line-height: 1;
    text-align: center;
    color: $white;
    @include mq(md) {
        font-size: rem(22);
        letter-spacing: 0.06em;
    }
}

.p-whatWeDo__itemTitle span {
    position: relative;
}

.p-whatWeDo__itemTitle span::after {
    position: absolute;
    background-color: $white;
    content: "";
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: cover;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.p-whatWeDo__itemTitle--1 span {
    padding-right: rem(44);
    @include mq(md) {
        padding-right: rem(58);
    }
}
.p-whatWeDo__itemTitle--2 span {
    padding-right: rem(51);
    @include mq(md) {
        padding-right: rem(60);
    }
}
.p-whatWeDo__itemTitle--3 span {
    padding-right: rem(57);
    @include mq(md) {
        padding-right: rem(79);
    }
}
.p-whatWeDo__itemTitle--4 span {
    padding-right: rem(66);
    @include mq(md) {
        padding-right: rem(87);
    }
}

.p-whatWeDo__itemTitle--1 span::after {
    mask-image: url(../images/common/whatWeDo_icon1.svg);
    width: rem(31);
    height: rem(30.99);
    @include mq(md) {
        width: rem(42.86);
        height: rem(42.84);
    }

}

.p-whatWeDo__itemTitle--2 span::after {
    mask-image: url(../images/common/whatWeDo_icon2.svg);
    width: rem(37.92);
    height: rem(41.5);
    @include mq(md) {
        width: rem(44.52);
        height: rem(48.73);
    }
}

.p-whatWeDo__itemTitle--3 span::after {
    mask-image: url(../images/common/whatWeDo_icon3.svg);
    width: rem(43.5);
    height: rem(30.19);
    @include mq(md) {
        width: rem(63.84);
        height: rem(44.31);
    }
}

.p-whatWeDo__itemTitle--4 span::after {
    mask-image: url(../images/common/whatWeDo_icon4.svg);
    width: rem(52.22);
    height: rem(30.63);
    @include mq(md) {
        width: rem(71.62);
        height: rem(42.01);
    }
}


.p-whatWeDo__textBox {
    margin-top: rem(20);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(10) rem(20);
    @include mq(md) {
        margin-top: rem(32);
        gap: rem(10) rem(25);
    }
}

.p-whatWeDo__text {
    padding: rem(8) rem(10);
    background-color: $white;
    border-radius: 20px;
    font-size: rem(14);
    letter-spacing: 0.06em;
    line-height: 1;
    text-align: center;
    @include mq(md) {
        padding: rem(12) rem(10);
        font-size: rem(18);
        letter-spacing: 0.06em;
    }
}